<!DOCTYPE html>
<html lang="en">
<head>
    <title>DataManagement</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div class="container">
        <div class="graphs">
            <h2>Graphs:</h2>
            <a class="links" href="{{ url_for('uploaded') }}">View Monthly Uploads</a>
            <a class="links" href="{{ url_for('upload') }}">Upload...</a>
            <div id="graphsContainer">

            </div>
            <form id="fromToDate">
                <input type="hidden" name="form_type" value="date_form">
                <label id="fromDate" for="from">From (month and year): </label>
                <input type="month" id="from" name="from" max="2099-12" min="1980-01" required value="{{fromDate}}">

                <label id="toDate" for="to">To: </label>
                <input type="month" id="to" name="to" max="2099-12" min="1980-01" required value="{{toDate}}">

                <input id="toFromSubmit" type="submit" onclick="saveDate(event)">
            </form>
        </div>
        <div class="dataGPT">
            <h2>DataGPT:</h2>
            <div class="datagptBOX">
                <div id="GptOutput">
                    {% if GptOutput %}
                        <p>{{ GptOutput|safe }}</p>
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
                <div id="query">
                    <form method="POST" id="querybox">

                        <input type="month" id="fromHidden" name="fromHidden" >
                        <input type="month" id="toHidden" name="toHidden" >

                        <input type="text" id="queryelement" placeholder="Query..." name="queryelement" autocomplete="off" required>
                        <input onclick="refreshDate()" id="submit" type="submit" value="Submit" >
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
