<!DOCTYPE html>
<html lang="en" id="uploadedPage">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<header id="head">
    <h1>Past Uploaded</h1>
    <a class="links" href="{{ url_for('upload') }}" id="uploadedPageLink">Upload...</a>
</header>
<body>
    <div id="documentContainer">
    <!-- {% for i in csvFileList %} -->
    <div class="documentView">
    <p>{{ i }}</p>
    </div>
    <!-- {% endfor %} -->
    </div>
</body>
</html>